<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Unidades Federativas</title>

	<script type="text/javascript" src="../resources/javascript/list_uf.js"></script>
</head>
<body>

	<nav>
		<a href="#/add" class="pure-button pure-button-primary">Adicionar Unidade Federativa</a>
	</nav>

	<br>

	<table id="uf_table" class="pure-table pure-table-striped">
		<thead>
			<tr align="center">
	    		<th>Estado</th>
	    		<th>UF</th>
	    		<th>Data de Cadastro</th>
	    	</tr>
		</thead>
		<tbody></tbody>
    </table>

</body>
</html>